h1,
h2,
h3,
h4,
ul,
li,
body {

    padding: 0px;
    background-color: rgb(123, 181, 235);
    color: rgb(3, 0, 3);
    text-align: center;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(24, 176, 241);
    border-width: 5px;
    width: 50%;
}




footer {
    background-color: rgb(238, 211, 9);
    margin: -1%;
}

p {
    padding: -5%;
}

body {
    transition-property: initial;
}